@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_blocks\.scss}line{font-family:\0000314}}
#block-block-4 {
  background: none;
  border: 0;
  box-shadow: none;
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_blocks\.scss}line{font-family:\0000321}}
.user-profile .field {
  display: table; }

/**
 * 1. Provide background image to center and adjust to window size
 *
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_html\.scss}line{font-family:\0000332}}
body {
  /* 1 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left left;
  background-size: cover;
  /* 2 */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_layout\.scss}line{font-family:\000031}}
.l-header,
.l-main {
  max-width: 80%;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_layout\.scss}line{font-family:\000037}}
.l-branding {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_layout\.scss}line{font-family:\0000313}}
.l-region--branding {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_layout\.scss}line{font-family:\0000318}}
  .l-region--branding * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_layout\.scss}line{font-family:\0000327}}
.l-region--sidebar-second {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_layout\.scss}line{font-family:\0000333}}
  .l-region--sidebar-second * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_media\.scss}line{font-family:\000035}}
iframe.media-youtube-player {
  display: block;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003106}}
html {
  font-size: 100%;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\000038}}
a, a:visited {
  color: #4A91B5;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000312}}
  a:hover, a:visited:hover {
    color: #09C1E1;
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
.site-name,
.pane-page-site-name {
  color: white;
  text-align: center;
  font-family: "Berkshire Swash", Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  font-weight: bold;
  padding: 0;
  margin: 0 auto 0.54545em;
  text-shadow: 2.8px 2.8px 4px rgba(23, 23, 23, 0.82);
  font-size: 2.75em;
  line-height: 1.09091em; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000342}}
  .site-name a,
  .pane-page-site-name a {
    text-decoration: none;
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000347}}
.site-slogan,
.pane-page-slogan {
  font-size: 0.75em;
  line-height: 2em;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  color: #D0ECF6;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000369}}
.page-title {
  color: #0F3C4D;
  font-size: 2.25em;
  line-height: 1.33333em;
  font-weight: normal;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000376}}
.block__title {
  color: #0F3C4D;
  text-align: center;
  font-size: 1.1875em;
  line-height: 1.26316em; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000382}}
.l-footer p {
  font-size: 0.8125em;
  line-height: 1.84615em; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/base\/_typography\.scss}line{font-family:\0000386}}
.l-footer a {
  color: #386E8A; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_footer\.scss}line{font-family:\000031}}
.l-footer {
  background: #C9E3EE;
  background: -webkit-linear-gradient(top, rgba(236, 245, 249, 0.75) 0, rgba(170, 211, 228, 0.75) 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(236, 245, 249, 0.75) 0, rgba(170, 211, 228, 0.75) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(236, 245, 249, 0.75) 0, rgba(170, 211, 228, 0.75) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(236, 245, 249, 0.75) 0, rgba(170, 211, 228, 0.75) 100%) no-repeat;
  -svg-background: linear-gradient(to bottom, rgba(236, 245, 249, 0.75) 0%, rgba(170, 211, 228, 0.75) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(236, 245, 249, 0.75) 0%, rgba(170, 211, 228, 0.75) 100%) no-repeat;
  margin: 20px auto 0;
  color: #0D1A21;
  font-size: 13px;
  text-align: center;
  padding: 0;
  bottom: 0;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_front-page\.scss}line{font-family:\000032}}
.front #loading {
  background: url("../images/loading-page.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_front-page\.scss}line{font-family:\0000313}}
  .front #loading .loading-img {
    width: 300px;
    height: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_front-page\.scss}line{font-family:\0000318}}
  .front #loading .loading-msg {
    text-align: center;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_front-page\.scss}line{font-family:\0000324}}
.front .panels-flexible-row,
.front .panels-flexible-row > *,
.front .panels-flexible-row > * > *,
.front .panels-flexible-row > * > * > * {
  min-height: 680px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_front-page\.scss}line{font-family:\0000331}}
.front .panels-flexible-region {
  width: 100%; }

/* Main Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\000032}}
#block-system-main-menu {
  background: none;
  border: 0px;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\000037}}
  #block-system-main-menu #rm-no-id {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000312}}
  #block-system-main-menu li,
  #block-system-main-menu li.expanded,
  #block-system-main-menu li.collapsed {
    margin-right: 1em;
    margin-left: 0;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000320}}
  #block-system-main-menu a {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: #4CA6FF;
    border: 1px solid #BAC4CA;
    padding: 0 17px;
    margin: 0 auto;
    position: relative;
    height: 28px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000334}}
    #block-system-main-menu a:hover {
      background: #2491FF; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000337}}
    #block-system-main-menu a.active {
      background: #75BAFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000343}}
.responsive-menus.responsified .responsive-menus-simple {
  background: #4CA6FF; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000347}}
.responsive-menus.responsified span.toggler {
  background: #4CA6FF; }

/* Tabs Styles*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000354}}
.tabs a {
  background-color: transparent;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000357}}
  .tabs a.active {
    background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000358}}
  .tabs a:hover {
    background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000359}}
  .tabs a:focus {
    background-color: transparent; }

/* Primary Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000364}}
.tabs--primary {
  margin-bottom: 0em;
  border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000368}}
  .tabs--primary a {
    padding: 0em 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000372}}
  .tabs--primary.links--inline li {
    border: 1px solid #076fe4;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #8ebcf1;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #4294f0;
    background-image: -webkit-linear-gradient(#4294f0, #0776f3);
    background-image: linear-gradient(#4294f0, #0776f3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #0065d6;
    background-clip: padding-box;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-image: none;
    box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/bourbon-4\.0\.2\/app\/assets\/stylesheets\/addons\/_button\.scss}line{font-family:\00003131}}
    .tabs--primary.links--inline li:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 #60a2ec;
      cursor: pointer;
      background-color: #2f87ea;
      background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
      background-image: linear-gradient(#2f87ea, #086fe3); }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/bourbon-4\.0\.2\/app\/assets\/stylesheets\/addons\/_button\.scss}line{font-family:\00003147}}
    .tabs--primary.links--inline li:active:not(:disabled), .tabs--primary.links--inline li:focus:not(:disabled) {
      border: 1px solid #076fe4;
      box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/bourbon-4\.0\.2\/app\/assets\/stylesheets\/addons\/_button\.scss}line{font-family:\0000351}}
    .tabs--primary.links--inline li:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000386}}
    .tabs--primary.links--inline li a {
      color: #FFF;
      font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000389}}
      .tabs--primary.links--inline li a:hover {
        color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000390}}
      .tabs--primary.links--inline li a:focus {
        color: #FFF; }

/* Secondary Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/components\/_navigation\.scss}line{font-family:\0000398}}
.tabs--secondary a {
  padding: 0em 0em;
  margin: 0em 0; }

/* Parallax base styles
--------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/toolkit-2\.6\.0\/stylesheets\/toolkit\/_parallax\.scss}line{font-family:\0000327}}
.parallax {
  overflow: auto;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  perspective: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/RailsInstaller\/Ruby1\.9\.3\/lib\/ruby\/gems\/1\.9\.1\/gems\/toolkit-2\.6\.0\/stylesheets\/toolkit\/_parallax\.scss}line{font-family:\0000351}}
  .parallax, .parallax * {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\0000330}}
.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\0000339}}
.parallax__group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\0000347}}
.parallax__layer {
  position: absolute;
  /* this will position the layers on top of each other */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* demo styles
--------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\0000387}}
body.front {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\0000391}}
body {
  font: 100% / 1.5 Arial; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\0000395}}
* {
  margin: 0;
  padding: 0; }

/* centre the content in the parallax layers */
/* style the groups
--------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003119}}
#section-header {
  z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003122}}
  #section-header .parallax__layer--back {
    background: url("../images/page-screen-large.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: translateZ(-1px) scale(2);
    -moz-transform: translateZ(-1px) scale(2);
    -ms-transform: translateZ(-1px) scale(2);
    -o-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    z-index: -100;
    height: 115%;
    height: 115vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003132}}
#section-video {
  z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003135}}
  #section-video .parallax__layer--base {
    -webkit-transform: translateZ(0.3px) scale(0.7);
    -moz-transform: translateZ(0.3px) scale(0.7);
    -ms-transform: translateZ(0.3px) scale(0.7);
    -o-transform: translateZ(0.3px) scale(0.7);
    transform: translateZ(0.3px) scale(0.7);
    z-index: 30;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003142}}
  #section-video .parallax__layer--back {
    transform: translateZ(0.3px) scale(1.7);
    background: -moz-linear-gradient(top, rgba(34, 167, 240, 0) 0%, #22a7f0 30%, #22a7f0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34, 167, 240, 0)), color-stop(30%, #22a7f0), color-stop(100%, #22a7f0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(34, 167, 240, 0) 0%, #22a7f0 30%, #22a7f0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(34, 167, 240, 0) 0%, #22a7f0 30%, #22a7f0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(34, 167, 240, 0) 0%, #22a7f0 30%, #22a7f0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(34, 167, 240, 0) 0%, #22a7f0 30%, #22a7f0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0022a7f0', endColorstr='#22a7f0',GradientType=0 );
    /* IE6-9 */ }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003156}}
#section-webform {
  z-index: 4; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003159}}
  #section-webform .parallax__layer--base {
    background: #99d865; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003164}}
#section-join-brc {
  z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003167}}
  #section-join-brc .parallax__layer--deep {
    background: #b8df65; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003172}}
#group5 {
  z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003175}}
  #group5 .parallax__layer--base {
    background: #d6e564; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003180}}
#group6 {
  z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003183}}
  #group6 .parallax__layer--back {
    background: #f5eb64; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003188}}
#group7 {
  z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/brc_omega_parallax\/sass\/brc-omega-parallax\.styles\.scss}line{font-family:\00003191}}
  #group7 .parallax__layer--base {
    background: #fff164; }
