/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/parallax\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/parallax\/sass\/parallax\.styles\.scss}line{font-family:\0000324}}
.l-header {
  background: url("../images/bcg_slide-1.jpg") 50% 0 no-repeat fixed;
  background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/parallax\/sass\/parallax\.styles\.scss}line{font-family:\0000329}}
.l-content {
  background: #41b7d8; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/parallax\/sass\/parallax\.styles\.scss}line{font-family:\0000333}}
.l-region--sidebar-first {
  background: url("../images/bcg_slide-2.jpg") 50% 0 no-repeat fixed; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/parallax\/sites\/all\/themes\/parallax\/sass\/parallax\.styles\.scss}line{font-family:\0000337}}
.l-region--sidebar-second {
  background: #41b7d8; }
