.front {
	#loading {
		background: url('../images/loading-page.jpg') 50% 0 no-repeat fixed;
		background-size: cover;
		position: fixed;
		width: 100%;
		height: 100%;
		@include display(flex);
		@include justify-content(center);
		@include align-content(center);
		@include flex-flow(row wrap);

		.loading-img {
			width: 300px;
			height: 300px;
		}

		.loading-msg {
			text-align: center;
			width: 100%;
		}
	}

	.panels-flexible-row,
	.panels-flexible-row > *,
	.panels-flexible-row > * > *,
	.panels-flexible-row > * > * > *, {
		min-height: 680px;
	}

	.panels-flexible-region {
		width: 100%;
	}

	// .section-header {
	// 	background: url('../images/page-screen-large.jpg') 50% 0 no-repeat fixed;
	// 	@include background-size(cover);

	// 	#logo {
	// 		margin: 0 auto;
	// 		display: table;
	// 	}
	// }

	// .section-video {
	// 	background: #41b7d8;

	// 	.panels-flexible-region-inside{
	// 		@include display(flex);
	// 		@include flex-flow(row wrap);
	// 		@include align-items(center);
	// 		@include justify-content(center);

	// 		.pane-block-1 {
	// 			display: table;
	// 		}
	// 	}
	// }

	// .section-webform {
	// 	background: url('../images/bcg_slide-2.jpg') 50% 0 no-repeat fixed;
	// }

	// .section-join-brc {
	// 	background: #41b7d8;
	// }
}