// Set Base Size for Fonts
$base-font-size:16px;
$title-font-size: 36px;

//Set Base Line Height
$base-line-height: 24px;

// Set font types
$font-header: 'Berkshire Swash', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
$font-slogan: Verdana, Geneva, Arial, Helvetica, Sans-Serif;

// Font colors
$font-header-color: white;
$font-slogan-color: #D0ECF6;
$title-font-color: #0F3C4D;